.nav-header {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-weight: 400;
  gap: 20px;
  height: 80px;
  justify-content: space-between;
  left: 0;
  opacity: 0.75;
  padding: 18px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 5;

  &.scrolled,
  &:hover {
    opacity: 1;
    border: 2px solid #ece8df;
  }

  @media (max-width: 768px) {
    height: 80px;
  }

  __active {
    font-weight: 700;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 24px;

    a {
      color: #000;
      text-decoration: none;

      &.active {
        font-weight: 700;
      }
    }
  }
}
