.personal-data-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #ede8de;
  border-radius: 8px;
  margin-bottom: 24px;
  width: 400px;
}

.shipping-address-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #ede8de;
  border-radius: 8px;
  margin-bottom: 24px;
  width: 400px;

  .buttons {
    position: absolute;
    width: 368px;
    bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
