.MuiSheet-root {
  &::-webkit-scrollbar {
    width: 0 !important; /* Hide scrollbar */
    height: 0 !important; /* Hide scrollbar */
  }
}
.MuiBox-root {
  padding: 0 !important;
  max-width: unset !important;
}
